* {
  padding: 0px;
  margin: 0px;
}

body,
html {
  width: 100%;
  height:100%;
}

.main-header {
  width: 100%;
  height: 80px;
  background-color: #303030;
}

.header-inner {
  width:80%;
  height:80px;
  margin:0 auto;
}
.app-logo {
  float:left;
  display: block;
  width: 80px;
  height: 80px;
  max-width: 100%;
  background-color: red;
  background-image: url(../img/sm-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.main-nav {}

.main-nav ul {}

.main-nav ul li {
  display: inline-block;
  line-height:5;
}

.main-nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  color:#FFF;
  font-weight: bold;
}

/* main slider */

.main-slider {
  width:100%;
  height:380px;
  background-image:url('../img/slider/bg-slider1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* main container */

.main-container {
  width:80%;
  height:100%;
  background-color:green;
  margin:0 auto;
}

/* top banner */
.top-banner {
  
}